<!-- update.component.html -->

<h2>Update Chambre</h2>

<form (submit)="updateChambre()">
  <div>
    <label for="numChambre">Numéro de Chambre:</label>
    <input type="text" id="numChambre" [(ngModel)]="chambre.numeroChambre" name="numChambre" required>
</div>

  <div>
    <label for="statut">Statut:</label>
    <input type="text" id="statut" [(ngModel)]="chambre.statut" name="statut" required>
  </div>
  <!-- Add other input fields for other chambre properties -->
  <button type="submit">Update</button>
</form>
